<!DOCTYPE html>
<html>
  <head>
      <% include ./head.ejs %>
  </head>
  <body>
      <% include ./navbar.ejs %>
      <main>
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
          <p class="lead">This application was created by Bloc Student Alexander Vela!</p>
        </header>
      </main>
      <% include ./baseScripts.ejs %>
    </body>
</html>